hard_drives:
  activity_for: sda
  partitions: # examples of partitions you want to monitor
    root: '/'
    home: '/home/sample'
    my_partition: '/home/sample'
    tmp: '/tmp'

gmail:
  login: 'mail@gmail.com'
  password: 'somesuperpass'

wunderground:
  api_key: 
  city: 
  state: NC
  unit_of_measurement: 'celsius' # celsius or fahrenheit. Celsius by default
  system: 'metric' # metric or imperial. Metric by default
